
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    
    --sidebar-bg: 210 40% 98%;
    --sidebar-border: 214.3 31.8% 91.4%;
    
    --residential-bg: 180, 100%, 85%;
    --commercial-bg: 210, 100%, 85%;
    --public-bg: 120, 100%, 85%;
    --utility-bg: 40, 100%, 85%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
    
    --sidebar-bg: 224 71% 4%;
    --sidebar-border: 216 34% 17%;
    
    --residential-bg: 180, 70%, 25%;
    --commercial-bg: 210, 70%, 25%;
    --public-bg: 120, 70%, 25%;
    --utility-bg: 40, 70%, 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.residential {
  background-color: rgba(var(--residential-bg));
  border: 1px solid darken(rgba(var(--residential-bg)), 10%);
}

.commercial {
  background-color: rgba(var(--commercial-bg));
  border: 1px solid darken(rgba(var(--commercial-bg)), 10%);
}

.public {
  background-color: rgba(var(--public-bg));
  border: 1px solid darken(rgba(var(--public-bg)), 10%);
}

.utility {
  background-color: rgba(var(--utility-bg));
  border: 1px solid darken(rgba(var(--utility-bg)), 10%);
}
